body {
    margin: 0;
    background-color: #eee;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav > ul {
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

main {
    flex-grow: 1;
    max-width: 1200px;
    padding: 0 20px;
}

footer {
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
