<html lang="en">
<head>
    <title>Demo</title>
    <style>
        body {
            background-color: #eee;
            font-family: sans-serif;
            height: 100vh;
            display: flex;
            align-items: center;
            text-align: center
        }

        main {
            margin: 0 auto
        }
    </style>
</head>
<body>
<main>
    <h1>500</h1>
    <p>Something went wrong</p>
</main>
</body>
</html>