{% extends "layout/base.twig" %}

{% block title %}Home - Demo{% endblock %}

{% block content %}
    <h1>Home</h1>

    <ul>
        {% for city in cities %}
            <li>{{ city.name }}, {{ city.state_code }}</li>
        {% endfor %}
    </ul>
{% endblock %}