<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <style>
        * {
            font-family: sans-serif;
        }

        .logo {
            display: block;
            margin-bottom: 30px;
            text-align: center;
        }

        .login-form {
            max-width: 400px;
            margin: 80px auto;
        }

        .login-form input, .login-form button {
            width: 100%;
            padding: 10px 15px;
        }

        .alert-error {
            background-color: lightcoral;
            border: 1px solid darkred;
            color: darkred;
            padding: 20px 30px;
            margin: 20px 0;
        }

        .alert-error span {
            float: right;
            cursor: pointer;
        }

        .mb-2 {
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<form class="login-form" method="post">

    <a href="/" class="logo" title="Home">
        {% include 'icons/logo.twig' with {'size': '60px'} %}
    </a>

    {% if messages %}
        <div class="alert-error">
            <span onclick="this.parentElement.remove()">&times;</span>
            <ul>
                {% for k, message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="mb-2">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ form.username }}" required>
    </div>

    <div class="mb-2">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{ form.password }}" required>
    </div>

    <button type="submit">Login</button>
</form>
</body>
</html>
