<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/app.css"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/hello">Hello</a></li>
    </ul>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {{ "now" | date("Y") }}
</footer>
</body>
</html>
